<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Crear Localización</h1>

            <form action="/peliculas/crear-pelicula" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <label for="latitude" class="form-label">Latitud</label>
                        <input type="text" class="form-control" id="latitude" name="latitude">
                    </div>
                    <div class="col-md-6">
                        <label for="longitude" class="form-label">Longitud</label>
                        <input type="text" class="form-control" id="longitude" name="longitude">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
                </div>
                <div class="mb-3">
                    <label for="director" class="form-label">Director/a</label>
                    <input type="text" class="form-control" id="director" name="director" value="{{movie.directors}}">
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <label for="year" class="form-label">Año</label>
                        <input type="number" class="form-control" id="year" name="year" value="{{movie.year}}">
                    </div>
                    <div class="col-md-4">
                        <label for="runtimeStr" class="form-label">Duración</label>
                        <input type="text" class="form-control" id="runtimeStr" name="runtimeStr"
                            value="{{movie.runtimeStr}}">
                    </div>
                    <div class="col-md-4">
                        <label for="releaseDate" class="form-label">Fecha de estreno</label>
                        <input type="text" class="form-control" id="releaseDate" name="releaseDate"
                            value="{{movie.releaseDate}}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="plotLocal" class="form-label">Sinopsis</label>
                    <input type="text" class="form-control" id="plotLocal" name="plotLocal" value="{{movie.plotLocal}}">
                </div>

                <div class="mb-3">
                    <label for="awards" class="form-label">Premios</label>
                    <input type="text" class="form-control" id="awards" name="awards" value="{{movie.awards}}">
                </div>


                <div class="mb-3">
                    <label for="writers" class="form-label">Guionistas</label>
                    <input type="text" class="form-control" id="writers" name="writers" value="{{movie.writers}}">
                </div>
                <div class="mb-3">
                    <label for="stars" class="form-label">Estrellas principales</label>
                    <input type="text" class="form-control" id="stars" name="stars" value="{{movie.stars}}">
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="genres" class="form-label">Géneros</label>
                        <input type="text" class="form-control" id="genres" name="genres" value="{{movie.genres}}">
                    </div>
                    <div class="col-md-6">
                        <label for="imDbRating" class="form-label">Valoración de los usuarios</label>
                        <input type="text" class="form-control" id="imDbRating" name="imDbRating"
                            value="{{movie.imDbRating}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="budget" class="form-label">Presupuesto</label>
                        <input type="text" class="form-control" id="budget" name="budget"
                            value="{{movie.boxOffice.budget}}">
                    </div>
                    <div class="col-md-6">
                        <label for="cumulativeWorldwideGross" class="form-label">Recaudado hasta la fecha</label>
                        <input type="text" class="form-control" id="cumulativeWorldwideGross"
                            name="cumulativeWorldwideGross" value="{{movie.boxOffice.cumulativeWorldwideGross}}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Imagen</label>
                    <input type="text" class="form-control" id="image" name="image" value="{{movie.image}}">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Crear localización</button>
                </div>

            </form>

            <hr>
        </div>
    </div>



    <a href="/" class="btn btn-dark">Volver al inicio</a>
</div>