<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{movieId.title}}</h5>
        <h7 class="card-title">{{movieId.director}}</h7>
        <h5 class="card-title">{{movieId.year}}</h5>
        <h5 class="card-title">{{movieId.location}}</h5>
        <hr>
        {{#if isADMIN}}
        <a href="/detalles/{{movieId._id}}" class="btn btn-warning">Editar Película</a>
        <hr>
        <form action="/detalles/{{movieId._id}}" method="POST" style="display: inline">
            <input type="submit" value="Eliminar película" class="btn btn-danger">
        </form>
        {{/if}}
    </div>
</div>