<div class="card" style="width: 18rem;">
    <img src="{{movie.image}}" class="card-img-top" alt="hola">
    <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <h7 class="card-title">{{movie.director}}</h7>
        <h5 class="card-title">{{movie.year}}</h5>
        <h5 class="card-title">{{movie.location.coordinates.[0]}}</h5>
        <h5 class="card-title">{{movie.location.coordinates.[1]}}</h5>
        <hr>
        {{#if isADMIN}}
        <a href="/peliculas/editar-pelicula/{{movie._id}}" class="btn btn-warning">Editar Película</a>
        <hr>
        <form action="/peliculas/eliminar-pelicula/{{movie._id}}" method="POST" style="display: inline">
            <input type="submit" value="Eliminar película" class="btn btn-danger">
        </form>
        {{/if}}
    </div>
</div>