<div class="card">
    {{!-- <img src="{{movieId.image}}" class="card-img-top" alt="Imagen de película"> --}}
    <h7 class="card-title">{{movieId.director}}</h7>
    <h5 class="card-title">{{movieId.title}}</h5>
    <h5 class="card-title">{{movieId.year}}</h5>
    <h5 class="card-title">{{movieId.location}}</h5>
    {{#if isADMIN}}
    <a href="/editar-pelicula/{{movieId._id}}" class="btn btn-warning">Editar Película</a>
    <form action="/detalles/{{movieId._id}}" method="POST" style="display: inline">
        <input type="submit" value="Eliminar película" class="btn btn-danger">
    </form>
    {{/if}}
</div>