<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Editar {{title}}</h1>

            <form action="/peliculas/editar-pelicula/{{_id}}" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{title}}">
                </div>
                <div class="mb-3">
                    <label for="director" class="form-label">Director/a</label>
                    <input type="text" class="form-control" id="director" name="director" value="{{director}}">
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Año</label>
                    <input type="number" class="form-control" id="year" name="year" value="{{year}}">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Imagen</label>
                    <input type="text" class="form-control" id="image" name="image" value="{{image}}">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitud</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" value="{{latitude}}">
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitud</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" value="{{longitude}}">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Actualizar</button>
                </div>

            </form>

            <hr>
        </div>
    </div>



    <a href="/" class="btn btn-dark">Volver al inicio</a>
</div>