<div class="container">
    <div class="text-center">
        <h2>Mis localizaciones</h2>
        <hr>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#each movie}}

        <div class="col-md-3">
            <img src="{{image}}" alt="{{title}}">
            <h4>{{title}}</h4>
            <p>{{description}}</p>
            <a href="/peliculas/detalles/{{_id}}" class="btn btn-dark">Ir a detalles</a>
        </div>

        {{/each}}

    </div>
</div>