<div class="container">
    <div class="text-center">
        <h2>Mis localizaciones</h2>
        <hr>
    </div>
</div>

<div class="container">
    <div class="row">
        {{#each movie}}
        <div class="col-md-3 text-center">

            <img src="{{image}}" alt="{{title}}">
            <h5 class="mt-2">{{title}}</h5>
            <p>{{description}}</p>
            <a href="/peliculas/detalles/{{_id}}" class="btn btn-dark bg-gradient">Ir a detalles</a>
        </div>
        {{/each}}

    </div>
</div>